<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" />
</head>
<body>
    <div class="box">
        <form method="post" class="align-center">
            {{ form.csrf_token }}
            <div class="table">
                <table class="table">
                    {% for a, b, c, d, e, f in data %}
                        <tr>
                            <td> {{ a }} </td><td> {{ b }} </td><td> {{ c }} </td><td> {{ d }} </td><td> {{ e }} </td><td> {{ f }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="menu">
                {% for field in form %}
                    <div class="fieldWrapper">
                    {{ field.label }}
                    <br>
                    {{ field }}
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</body>
</html>

{#                {{ form.attrib_1.label }}#}
{#                {{ form.attrib_1 }}<br>#}
{#                {{ form.attrib_2.label }}#}
{#                {{ form.attrib_2 }}<br>#}
{#                {{ form.attrib_3.label }}#}
{#                {{ form.attrib_3 }}<br>#}
{#                {{ form.attrib_4.label }}#}
{#                {{ form.attrib_4 }}<br>#}
{#                {{ form.choice_field.label }}#}
{#                {{ form.choice_field }}<br>#}
{#                {{ form.choice_field_last.label }}#}
{#                {{ form.choice_field_last }}<br>#}
{#                {{ form.submit }}#}